{% extends "base.html" %} 

{% block laba2 %}Лабораторная работа 2{% endblock %}

{% block main %}
    <h1>Косметика</h1>
    <h3>Тушь</h3>
    <img src="{{ url_for('static', filename='ty.jpg') }}" height='200px'> 
      <div>
        Основная задача – это сделать взгляд томным и притягательным за счет длинных ресниц.
      </div> 

    <h3>Крем</h3>
    <img src="{{ url_for('static', filename='krem.jpg') }}" height='200px'> 
    <div>
        Кремы — это пластичные, пышные массы, приготовленные взбиванием смеси таких компонентов,
         как сливочное масло, сливки, яичные белки, а также сахар, молоко, ароматизирующие и вкусовые 
         продукты, другие компоненты. 
    </div>


    <h3>Пудра</h3>
    <img src="{{ url_for('static', filename='pyd.jpg') }}" height='200px'>
        <div>
          Этот вид пудры используется не для тонирования, а для выравнивания поверхности кожи, матирования
          и фиксации уже нанесенного макияжа. Внешне она абсолютно белая и рассыпчатая. 
       
        </div>

    <h3>Хайлайтер</h3>
    <img src="{{ url_for('static', filename='xa.jpeg') }}" height='200px'> 
    <div>
        Хайлайтер — косметическое средство, которое придает сияние коже с помощью отражающих блестящих частиц.
         Также хайлайтер придает отдельным частям лица объем. Все вместе позволяет выглядеть более свежо.
    </div>

    <h3>Помада</h3>
    <img src="{{ url_for('static', filename='pom.jpg') }}" height='200px'> 
    <div>
        Помада – это средство, которое поможет придать губам абсолютно любой оттенок, 
        от нежного нюдового до неонового синего. Часто помада обладает еще и ухаживающими свойствами, 
        увлажняет и питает кожу губ. 
    </div>

 {% endblock %}